{% extends "base.html" %}

{% block body %}
  <hr>
  <form method="get" action="">
    tableList
    <ul>
    {% for tableName in table_list %}
        <li>{{ tableName }}</li>
    {% endfor %}
    </ul>
    createSql
    <ul>
    {% for createSql in create_list %}
        <li>{{ createSql }}</li>
    {% endfor %}
    </ul>
    tableCollum
    <br/>　{{ table_list.0 }} テーブル
      {% for list in collum_list %}
      <ul>
      {% for p in list %}
        {% if forloop.counter0 == 0   %}
          <li>インデックス番号  {{ p }}</li>
        {% endif %}
        {% if forloop.counter0 == 1   %}
          <li>カラム名  {{ p }}</li>
        {% endif %}
        {% if forloop.counter0 == 2   %}
          <li>データ型  {{ p }}</li>
        {% endif %}
        {% if forloop.counter0 == 3   %}
          <li>NULL  {{ p }}</li>
        {% endif %}
        {% if forloop.counter0 == 4   %}
          <li>初期値  {{ p }}</li>
        {% endif %}
        {% if forloop.counter0 == 5   %}
          <li>主キー  {{ p }}</li>
        {% endif %}
      {% endfor %}
      </ul>
      {% endfor %}
  </form>
{% endblock %}