/*--body--*/
body{
  font-size:15px;
  font-family:'メイリオ',Meiryo;
}

/*--header--*/
#header{
  color:#8E8E8E;
  background-color:#222222;
  border: solid 1px;
  border-radius: 0px 0px 8px 8px;
  margin:0px 0px 10px 0px;
}
#header h1{
  font-size:25px;
  margin:5px 0 5px 20px;
}

/*--searchErea--*/
#searchErea{
  border: solid 1px #E6E6D6;
  border-radius: 8px 8px 8px 8px;
  margin:0px 20px 0px 20px;
}
/*---subHeader---*/
#subHeader{
  color:#B4B4B4;
  background-color:#F5F5F5;
  border-bottom: solid 1px #E6E6D6;
  border-radius: 8px 8px 0px 0px;
}
#subHeader h2{
  font-size:18px;
  padding-top:5px;
  margin:0px 0px 5px 5px;
}
/*---table---*/
#searchErea table{
  margin-left:10px;
}
#searchErea table th{
  text-align:right;
}
#searchErea table td input.part,input.name,input.registStartDate,input.registEndDate,input.keyWord{
  width:300px;
  line-height:26px;
  padding-left:5px;
}
#searchErea table td select,input
{
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #ccc;
}
#searchErea table td select{
  line-height:26px;
  padding-left:5px;
}
#searchErea table td input.part,input.name,input.registStartDate,input.keyWord,select,input.search{
  margin-left:30px;
}
#searchErea table th,#searchErea table td{
  vertical-align:middle;
  padding:10px 0px;
}
/*---button---*/
.buttonErea{
  text-align:center;
  margin:10px 0px;
}
.buttonErea input.search,.buttonErea input.clear{
  display:inline;
  text-align:center;
  font-size:14px;
  width:60px;
  padding:5px;
  vertical-align:middle;
}

/*--linkErea 後でページャいれる--*/
#linkErea{
  padding:30px 0px 30px 20px;
  text-align:center;
}
#linkErea a.pager{
  border:1px solid #E6E6D6;
  padding:5px;
  margin:0px 5px;
  width:100px;
}
#linkErea a.pager:hover{
  background-color:#D9EDF7;
}
#linkErea a.clicked{
  border:1px solid #E2E2D2;
}

/*--resultErea--*/
#resultErea{
  /*border: solid 1px #E6E6D6;*/
  /*border-radius: 8px 8px 8px 8px;*/
  margin-bottom:40px;
}
#resultErea table{
  margin-left:20px;
  margin-right:20px;
  border-collapse: separate;
  border-radius: 5px;
  border-spacing: 0;
}
#resultErea table tr{
  border-radius: 3px 3px 3px 3px;
}
#resultErea table th{
  border: solid 1px #E6E6D6;
  background-color:#D9EDF7;
  border-radius: 3px 3px 3px 3px;
  vertical-align:middle;
  padding:3px;
}
/*----resultErea table header width----*/
#resultErea table th.partHeader{
  min-width:60px;
}
#resultErea table th.nameHeader{
  min-width:100px;
}
#resultErea table th.contentsHeader{
  width:750px;
}
#resultErea table th.bikoHeader{
  width:750px;
}
#resultErea table td{
  border: solid 1px #E6E6D6;
  border-radius: 3px 3px 3px 3px;
  padding:2px;
}
#resultErea table td input{
  margin:2px;
}
