{% extends "common/base.html" %}

{% block body %}
    
    <form name="memoForm" method="post" action="">
      <div id="searchErea">
        <div id="subHeader">
          <h2>検索条件</h2>
        </div><!--id subHeader-->
        <table>
          <tr>
            <th>{{ form.part.label }}</th>
            <td>{{ form.part }}{{ partErr }}</td>
          </tr>
          <tr>
            <th>{{ form.name.label }}</th>
            <td>{{ form.name }}</td>
          </tr>
          <tr>
            <th>{{ form.registStartDate.label }}</th>
            <td>{{ form.registStartDate }}&emsp;～&emsp;{{ form.registEndDate }}</td>
          </tr>
          <tr>
            <th>{{ form.gender.label }}</th>
            <td>
              {{ form.gender }}
            </td>
          </tr>
          <tr>
            <th>{{ form.keyWord.label }}</th>
            <td>{{ form.keyWord }}</td>
          </tr>
        </table>
        <div class="buttonErea">
          <input type="submit" value="検索" class="search" />
          <input type="submit" value="クリア" class="clear" />
          <input type="hidden" name="pageNum" />
        </div><!--class buttonErea-->
      </div><!--id searchErea-->
      <div id="linkErea">
        {% autoescape off %}
        <div id="atag">
        </div><!--id atag-->
        {% endautoescape %}
      </div><!--id linkErea-->
      <div id="resultErea">
      </div><!--id resultErea-->
      <div class="registButtonErea">
        <input type="submit" value="新規登録" class="registPage" />
      </div><!--id registButtonErea-->
    {% csrf_token %}
    </form>
  </div><!--id container-->
{% endblock%}