{% extends "common/base.html" %}

{% block body %}
    
    <form name="memoForm" method="post" action="">
      <div id="registErea">
        <div id="subHeader">
          <h2>新規登録</h2>
        </div><!--id subHeader-->
        <table>
          <tr>
            <th>{{ form.registPart.label }}</th>
            <td>{{ form.registPart }}</td>
          </tr>
          <tr>
            <th>{{ form.registName.label }}</th>
            <td>{{ form.registName }}</td>
          </tr>
          <tr>
            <th>{{ form.registGender.label }}</th>
            <td>
              {{ form.registGender }}
            </td>
          </tr>
          <tr>
            <th>{{ form.registContents.label }}</th>
            <td>{{ form.registContents }}</td>
          </tr>
          <tr>
            <th>{{ form.registBiko.label }}</th>
            <td>{{ form.registBiko }}</td>
          </tr>
        </table>
        <div class="registMessage">
        </div><!--class registMessage-->
        <div class="buttonErea">
          <input type="submit" value="登録" class="regist" />
          <input type="submit" value="検索画面へ戻る" class="searchReturn" />
          <input type="hidden" name="pageNum" />
        </div><!--class buttonErea-->
      </div><!--id registErea-->
    {% csrf_token %}
    </form>
  </div><!--id container-->
{% endblock%}